@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --background: #F9F9F9;
  --foreground: #171717;
  --card-background: #ffffff;
  --font-family: 'Open Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}