.header{
    position: relative;
    align-items: center;
    display: flex;
}

.logo{
    font-size: 2.25rem;
    color: #4A4A4A;
    text-transform: capitalize;
    margin-left: 15.625rem;
}

.menu{
    flex-direction: row;
    gap: 2rem;
    margin-right: 15.625rem;
}
