.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F9F9F9;
  }
  
  .formSection {
    padding: 2rem;
    display: flex;
    margin-left: 11.2rem;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  
  .logo {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .inputWrapper {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .inputWrapper input {
    width: 350px;
    padding: 0.75rem 2.5rem 0.75rem 0.75rem;
    border: 1px solid #999;
    font-size: 1rem;
  }
  
  .icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .checkbox {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .forgot {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  
  .loginButton {
    background: linear-gradient(to right, #AE23A9, #DC4E1B);
    color: white;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .divider span {
    padding: 0 1rem;
    color: #666;
  }
  
  .registerButton {
    padding: 1rem;
    border: 1px solid #999;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .imageSection {
    margin-top: 231;
    display: none;
  }