.mainContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #F9F9F9;
  background-image: url('/bg.jpg');
  background-position: right center; 
  background-size: contain; 
  background-size: 50% auto;
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: center;
  padding-left: 120px;
}
  
.formContainer {
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-start;
  max-width: 430px;
  flex-direction: column;
  z-index: 10;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 32px;
  gap: 16px;
  /*box shadow*/
}

.formSection{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
} 

.logo {
  /*text-align: left;
  margin-top: 7%;*/
  margin-bottom: 24px;
}

.label{
  font-weight: 500;
  font-size: 0.9rem;
  color: #4A4A4A;
  margin-bottom: 5px;
  align-items: last baseline;
  display: block;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.inputWrapper input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  /* margin-top: 1%;
  margin-right: 9%; 
  border-radius, ouline*/
  border: 1px solid #4A4A4A;  
}
  
.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
}
  
.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.checkboxGroup input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.labelCheck{
  cursor: pointer;
  font-size: 0.9rem;
  color: #4A4A4A;
}
  
.forgot {
  width: 100%;
  font-size: 0.9rem;
  color: #4A4A4A;
  margin-bottom: 1.5rem;
  text-align: left;
}
  
.loginButton {
  width: 100%;
  background: linear-gradient(to right, #AE23A9, #DC4E1B);
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  /*border radius*/
}
  
.divider {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  font-size: 0.85rem;
  color: #909090;
}

.divider span {
  padding: 0 1rem;
  white-space: nowrap;
}

.divider::before,
.divider::after {
  flex: 1;
  content: '';
  border-bottom: 1px solid #ccc;
}

.registerButton {
  width: 100%;
  padding: 0.75rem 1.25rem;
  color: #4A4A4A;
  background-color: transparent;
  border: 1px solid #9B9B9B;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.terms {
  display: flex;
  margin-top: 1.5rem;
  font-size: 14px;
  color: #4A4A4A;
  gap: 10px;
}

.terms a{
  text-decoration: none;
}
  
.terms a:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
  margin-left: 4px;
}